@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$body-color: white;
$body-bg: #222;
$primary: lightgreen;
$link-color: lightgreen;
$link-hover-color: white;
$code-color: lightgreen;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-monospace: 'IBM Plex Mono', monospace;

@import "~bootstrap/scss/bootstrap";